

body {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-top: 100px;
}


#board{
    background: white;
    border:3px solid #000;
     border-radius: 15px;
     box-shadow: 35px;
     
}